<h1>Listing contributions</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contributions.each do |contribution| %>
  <tr>
    <td><%= contribution.author.nickname %></td>
    <td><%= contribution.repo.name %></td>
    <td><%= contribution.lines_added %></td>
    <td><%= contribution.lines_deleted %></td>

    <td><%= link_to 'Show', contribution %></td>
    <td><%= link_to 'Edit', edit_contribution_path(contribution) %></td>
    <td><%= link_to 'Destroy', contribution, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Contribution', new_contribution_path %>
